.terminalInformationTop {
  height: 220px;
  border: 1px solid #159C61;
  .scroll {
    overflow: auto;
    height: 180px;
    p {
      padding: 10px 0 8px 15px;
      span {
        margin-right: 80px;
      }
    }
  }
}

.terminalInformationBottom {
  margin-top: 10px;
  height: 480px;
  border: 1px solid #159C61;
  .ant-list-item-meta-description {
    color: #fff;
  }
  .ant-list-item {
    padding: 12px 20px;
  }
  div {
    color: #fff;
  }
}

.terminalInformationTopEcart {
  height: 350px;
  border: 1px solid #159C61;
  #ecartTop {
    height: 310px;
  }
}

.terminalInformationBottomEcart {
  margin-top: 10px;
  height: 350px;
  border: 1px solid #159C61;
  #ecartBottom {
    height: 310px;
  }
}

.infoTitle {
  width: 60%;
  height: 25px;
  line-height: 25px;
  background-image: linear-gradient(to right, #1a5f52, #062f2b);
  margin-left: 10px;
  padding-left: 15px;
  font-size: 14px;
  margin-top: 10px;
}