#PersonalCenter {
  margin-top: 20px;
  .left {
    height: calc(100vh - 140px);
    border: 1px solid #118153;
    color: #fff;
    padding: 7px;
    background-color: #062F2B;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 15px;
      height: 15px;
      border-left: 3px solid #159C61;
      border-bottom: 3px solid #159C61;
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 15px;
      height: 15px;
      border-right: 3px solid #159C61;
      border-bottom: 3px solid #159C61;
    }
    .leftCopy {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border-left: 3px solid #159C61;
        border-top: 3px solid #159C61;
      }
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border-right: 3px solid #159C61;
        border-top: 3px solid #159C61;
      }
      .bodyLeftInput {
        height: 30px;
        outline: none;
        border: none;
        background: #0F4037;
        width: 100%;
        color: #fff;
        padding: 6px 12px;
      }
    }
    .bg {
      background: #0F4037;
      color: #11D9A7;
    }
    .infoTitle {
      width: 60%;
      height: 25px;
      line-height: 25px;
      background-image: linear-gradient(to right, #1a5f52, #062f2b);
      margin-left: 10px;
      padding-left: 15px;
      font-size: 16px;
      margin-top: 10px;
    }
    ul {
      font-size: 16px;
      padding: 20px 0 0 10px;
      li {
        list-style-type: none;
        margin-bottom: 15px;
        padding: 2px 0 2px 10px;
        cursor: pointer;
      }
    }
  }
  .right {
    height: calc(100vh - 140px);
    border: 1px solid #118153;
    color: #fff;
    padding: 7px;
    background-color: #062F2B;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 15px;
      height: 15px;
      border-left: 3px solid #159C61;
      border-bottom: 3px solid #159C61;
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 15px;
      height: 15px;
      border-right: 3px solid #159C61;
      border-bottom: 3px solid #159C61;
    }
    .top {
      height: 50px;
      display: flex;
      justify-content: space-between;
      line-height: 30px;
      padding: 10px;
      border-bottom: 2px solid #08382A;
    }
    .wapper {
      margin-top: 70px;
      width: 400px;
      color: #fff;
      .ant-form-item-label>label {
        color: #fff;
      }
    }
    ul {
      margin: 50px 0 0 0;
      li {
        list-style-type: none;
        padding-bottom: 10px;
        span {
          color: #2dbb8b;
          margin-right: 20px;
        }
      }
    }
    .rightCopy {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border-left: 3px solid #159C61;
        border-top: 3px solid #159C61;
      }
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border-right: 3px solid #159C61;
        border-top: 3px solid #159C61;
      }
    }
  }
}