@img: '../../assets/images/bigData.png';
#MonitorBackground {
  border: 2px solid #118153;
  margin-top: 20px;
  height: calc(100vh - 140px);
  .btnBottom {
    position: absolute;
    width: 350px;
    height: 100px;
    z-index: 99;
    left: 50%;
    margin-left: -175px;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    .one {
      width: 100px;
      background-image:url('@{img}'); // width: 100px;
      background-size: 100% 100%;
      text-align: center;
      color: #1CD295;
      font-size: 16px;
      img {
        margin-top: 20px;
        width: 35px;
        height: 35px;
      }
    }
    .two {
      width: 100px;
      background-image:url('@{img}'); // width: 100px;
      background-size: 100% 100%;
      text-align: center;
      color: #1CD295;
      font-size: 16px;
      img {
        margin-top: 20px;
        width: 35px;
        height: 35px;
      }
    }
    .three {
      width: 100px;
      background-image:url('@{img}'); // width: 100px;
      background-size: 100% 100%;
      text-align: center;
      color: #1CD295;
      font-size: 16px;
      img {
        margin-top: 20px;
        width: 35px;
        height: 35px;
      }
    }
  }
}